<footer>
    <div class="container">
    
        <!-- Rejilla hecha con Bootstrap y grid -->
        <section>
            <div class="text-center text-md-start mt-5">
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h5 class="text-uppercase fw-bold">Resurrection Fest</h5>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto space"/>
                  <p>
                    Es un festival de música que se lleva a cabo anualmente desde 2006 durante julio o principios de agosto y presenta principalmente
                     bandas de heavy metal, hardcore punk y punk rock. 
                  </p>
                </div>
               
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h5 class="text-uppercase fw-bold">Información</h5>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto space"/>
                  <p><a href="#">Comprar entradas</a></p>
                  <p><a href="#">Información general</a></p>
                  <p><a href="#">Zonas de descanso</a></p>
                  <p><a href="#">Experiéncias VIP</a></p>
                  <p><a href="#">Próximos eventos</a></p>
                </div>
               
                <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
                  <h5 class="text-uppercase fw-bold">Contacto</h5>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto space "/>
                  <p><a href="#">Valores y sostenibilidad</a></p>
                  <p><a href="#">Propuestas de negocios</a></p>
                  <p><a href="#">Trabaja con nosotros</a></p>
                  <p><a href="#">Contáctanos</a></p>
                </div>
               
      
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h5 class="text-uppercase fw-bold">Condiciones</h5>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto space"/>
                  <p><a href="#">Política de privacidad</a></p>
                  <p><a href="#">Condiciones de compra</a></p>
                  <p><a href="#">Términos y condiciones</a></p>
                  <p><a href="#">Política de Cookies</a></p>
                </div>
              </div>
            </div>
          </section>

        <div class="space"></div>

        <section id="footerMenus">
            <div class="row align-items-center">
                <div class="col-12 col-sm-4 col-md-3">
                    <img id="f-logo" src="./assets/images/logo.png" alt="Logo">
                </div>
                <div class="col-12 col-sm-8 col-md-7">
                    <nav>
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="nosotros.html">Nosotros</a></li>
                            <li><a href="bandas.html">Bandas</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-12 col-sm-12 col-md-2">
                    <!-- Social menú. Iconos con FontAwesome -->
                    <nav>
                        <ul>
                            <li><a href="#" alt="Google+"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li><a href="#" alt="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#" alt="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </nav>    
                </div>
            </div>        
        </section>
    </div>
  </footer>